*{
   box-sizing: border-box;
   transition: 500ms;
}

html{
   transition: 0;
margin-left: auto;
margin-right: auto;
box-sizing:border-box;
display: block;
align-items: center;
justify-content: center;
text-align: center;
background-color: darkcyan;
max-width: 800px;
}

.a{

}
.b{

}
.c{

}
.container{
   display: flex;
   justify-content: center;
   width: 100%;

}
.container li{
   display:flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 60px;
   height: 60px;
   background-color:lightgray;
   padding: 2px;
   border-radius:20%;
   border: 5px solid black;
   margin: 5px;

}.invisible{
   /* display: flex;
   text-align: center;
   align-items: center;
   justify-content: center; */
   font-family: 'Almendra Display', cursive;
   font-style:italic;
   width: 45px;
   height: 45px;
   color: darkblue;
   font-size: 40px;
   font-weight: 800;

   /* visibility: hidden; */
   z-index: 5;
}
.active{
   visibility: visible;
}
.fixed{
   visibility: visible;
}
.win{
   z-index: 10;
   font-size: 10vh;
   width: 80vw;
   height: 80vw;
   display: none;
   flex-direction: column;
   position: fixed;
   margin: auto;
   background-color: rgb(36, 37, 102);
   justify-content: center;
   align-items: center;
   text-align: center;
   top:0;
   left: 0;
   right: 0;
   bottom: 0;
   border-left:blue solid 100px;
   border-top: red solid 100px;
   border-right: yellow solid 100px;
   border-bottom: green solid 100px;
   border-radius: 50%;
}
a{
   text-decoration: none;
   background-color: black;
   border-left:gray solid 10px;
   border-top:gray solid 10px;
   border-right:darkslategray solid 10px;
   border-bottom:darkslategray solid 10px;

}
.reload{
   font-size: 16px;
   color: khaki;

}

.done{
   display: block;
}